<h2 mat-dialog-title>Steps</h2>
<mat-dialog-content class="mat-typography">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Step</th>
        <th>Action</th>
        <th>Expected</th>
      </tr>
    </thead>
    <tbody>
      @for(item of steps;track item){
        <tr>
          <td>{{item.step}}</td>
          <td>{{item.action}}</td>
          <td>{{item.expected}}</td>
        </tr>
      }
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
